* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 100%;
    height: 100vh;
    background-color: #FFC0CB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent h1 {
    color: #6D2E46;
    font-size: 75px;
    text-align: center;
    font-family: 'Briella', cursive;
    font-family: "Playwrite DE SAS", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.parent .name {
    color: #C2185B;
    font-size: 60px;
    text-align: center;
    font-family: 'Briella', cursive;
    font-family: "Playwrite DE SAS", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.parent .heart1 {
    display: inline-block;
    font-size: 55px;
    animation: bounce 1.5s infinite;

}

.parent .heart1:nth-child(1) {
    animation-delay: 0s;
}

.parent .heart1:nth-child(2) {
    animation-delay: 0.3s;
}

.parent .heart1:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.hearts-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.hearts-bg span {
    position: absolute;
    font-size: 25px;
    animation: float 6s infinite ease-in-out;
    opacity: 0.8;
}


.hearts-bg span:nth-child(1) {
    top: 10%;
    left: 20%;
}

.hearts-bg span:nth-child(2) {
    top: 30%;
    left: 70%;
}

.hearts-bg span:nth-child(3) {
    top: 50%;
    left: 40%;
}

.hearts-bg span:nth-child(4) {
    top: 70%;
    left: 10%;
}

.hearts-bg span:nth-child(5) {
    top: 80%;
    left: 80%;
}

.hearts-bg span:nth-child(6) {
    top: 20%;
    left: 50%;
}

.hearts-bg span:nth-child(7) {
    top: 60%;
    left: 60%;
}

.hearts-bg span:nth-child(8) {
    top: 40%;
    left: 15%;
}

.hearts-bg span:nth-child(9) {
    top: 75%;
    left: 35%;
}

.hearts-bg span:nth-child(10) {
    top: 15%;
    left: 85%;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.bottom {
    background-color: #727de4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FFC0CB, #9FA7F1);

}

.bottom .bottom-mid {
    width: 90%;
    /* height: 100%; */
    background-color: #9fa7f1;
    border-radius: 10px;
    box-shadow: #545da1 50px;
}

.bottom .bottom-mid h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: 'Briella', cursive;
    font-family: "Playwrite DE SAS", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.bottom .bottom-mid p {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-family: 'Briella', cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 15px;
    opacity: 0;
    transition: 3s ease;
}

.bottom-mid p.show {
    opacity: 1;
}

@media (max-width: 768px) {
    .parent h1 {
        font-size: 30px;
        flex-wrap: wrap;

    }

    .parent {
        width: 100%;
    }

    .bottom-mid {
        width: 90%;
        height: auto;
    }

    .parent .name {
        font-size: 40px;
    }

    .parent .heart1 {
        font-size: 35px;
    }

    .bottom .bottom-mid h1 {
        font-size: 30px;
    }

    .bottom .bottom-mid p {
        font-size: 22px;
        font-weight: bold;

    }

    .hearts-bg span {
        font-size: 20px;
        opacity: 0.6;
    }

    .hearts-bg span:nth-child(7) {
    top: 60%;
    left: 85%;
}
    .hearts-bg span:nth-child(4) {
    top: 85%;
    left: 10%;
}
}